<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">
                <img src="../assets/images/roush-logo.jpg" alt="Roush Industries" class="mx-auto d-block logo" />
                <h5 class="card-title text-center">Technology Assessment</h5>
                <div class="form-signin">
                    <mat-form-field class="full-width">
                        <input matInput type="text" name="email" placeholder="Email Address" value="">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input matInput type="password" name="password" placeholder="Password" value="">
                    </mat-form-field>
                    <button mat-flat-button color="primary" (click)="signIn()">Sign In</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <p>User Name: {{(user | async)?.name }}</p>
    <p>Email Address: {{(user | async)?.email}}</p>
</div>