.row {
    margin-top: 200px;
}

.logo {
    width: 150px;
    height: 150px;
    border-radius: 125px;
    border: 10px solid #fff;
    margin-top: -270px;
}

.card {
    background-color: #fcfcfc;

    .card-signin {
        border: 0;
    }

    .card-body {
        background-color: #fcfcfc;
        padding-top: 180px;
    }
}