/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.full-width,
.fill-remaining-space { width: 100%; }

.container-fluid {
    padding-top: 80px;
}

h1 {
    font-size: 20px;
    text-transform: uppercase;
}